$white-1: #fff;
$purple-1: #6614c1;
$overlay: rgba(0, 0, 0, 0.4);
$black-1: #000;
$green-1: #2d7963;
$blue-1: #6182e4;
$blue-2: #607fec;
$blue-3: #284182;
$blue-4: #e8f0ff;
$blue-5: #4167ef;
$grey-1: #a4b3e4;
$yellow-1: #e1a046;
